<!DOCTYPE html>
<html lang="en">
<div id="app" v-cloak>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title v-if="remaining != 0">({{ remaining }}) task remaining</title>
	<title v-else>VueJs Todo Tab</title>
    <link href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQEAYAAABPYyMiAAAABmJLR0T///////8JWPfcAAAACXBIWXMAAABIAAAASABGyWs+AAAAF0lEQVRIx2NgGAWjYBSMglEwCkbBSAcACBAAAeaR9cIAAAAASUVORK5CYII=" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" href="assets/css/base.css">
	<link rel="stylesheet" href="assets/css/index.css">
</head>
<body>
		<div class="date-time">
				<h4>{{date}}</h4>
				<h3>{{time}}</h3>
		</div>
			
        <section class="todoapp">
			<header class="header">
				<input class="new-todo"
				  v-model="newTodo"
					v-on:keyup.enter="addTodo"
				placeholder="Add your task for the day.." autofocus>
			</header>
			<section class="main">
				<ul class="todo-list">
					<li v-for="todo in filteredTodos"
						:class="{ completed: todo.completed, editing: todo == editedTodo}">
						<div class="view">
								<input class="toggle" type="checkbox" v-model="todo.completed" />
								<label>{{ todo.title }}</label>
								<span class="editTodo" @click="editTodo(todo)">Edit</span>
								<button class="destroy" @click="removeTodo(todo)"></button>
						</div>
						<span class="time-difference">{{timeDifference(todo.created)}}</span>
						<input class="edit" type="text"
						v-todo-focus="todo == editedTodo"
						v-model="todo.title"
							@blur="doneEdit(todo)"
							@keyup.enter="doneEdit(todo)" autofocus/>
							
					</li>
					

				</ul>
				
				<ul class="todo-list"></ul>
			</section>
		</section>
		<script src="dist/build/vue_todo.js"></script>
</body>
</div>
</html>